[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
[access "refs/for/refs/*"]
	read = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	push = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	label-Code-Review = -2..+2 group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	label-Verified = -1..+1 group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	rebase = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	removeReviewer = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	submit = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
[access "refs/heads/*"]
	read = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	create = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	push = +force group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	pushMerge = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
[access "refs/tags/*"]
	push = +force group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	pushTag = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
	pushSignedTag = group user/Sayeed Afridi (xda nickname : say99 ) (sayeed99)
